.Frame{
    width: 125px;
    height: 125px;
    float: left;
    margin:0 5px;
    clear: right;
    & > span{
        display: block;
        font-size: 13px;
        margin: 5px 0;
    }
&__content{
   
    background-color: #fafafa;
    border: solid 1px #ccc;

}

}