.Frame{
    @include box-padding(5px 5px);
    @include transitions;
    width: 125px;
    height: 250px;
    float: left;
    margin:0 5px;
    clear: right;
    background-color: rgba(32, 2, 2, 0.4);
    border-radius: $border-radius;
    &--hidden-mobile{
        @media only screen and (max-width: $tablet){
            display: none !important;
        }
    }
    &__frame-number{
        text-align: center;
        color: $color-white;
        font-family: $font-main;
        font-weight: $font-weight-medium;
        display: block;
        font-size: 14px;
        margin: 5px 0;
    }
    &__frame-indicator{
        @include center-block(15px);
        border-radius: 50%;
        height: 15px;
        width: 15px;
        background-color: $color-white;
        &--active{
            background-color: $color-4;
        }
    }
    &:hover{
       transform: scale(1.1);
       @include shadows();
    }
    @media only screen and (max-width: $tablet){
        width: 50%;
        @include center-block;
        margin: 10px auto;
     }

}