$color-1:#5d588d;
$color-2:#3c3972;
$color-3:#222240;
$color-4:#f45227;
$color-5:#ea1b1b;

$color-gray-1:#e7e7e7;
$color-gray-2:#dddddd;
$color-gray-3:#cccccc;
$color-gray-4:#bbbbbb;
$color-gray-5:#aaaaaa;
$color-gray-6:#777777;
$color-gray-7:#666666;

$color-ios-blue:rgb(0,122,255) ;
$color-ios-green: rgb(48,209,88);
$color-ios-purple: rgb(94,92,230);
$color-ios-orange: rgb(255,159,10);
$color-ios-pink: rgb(255,55,95);
$color-ios-purple: rgb(191,90,242);
$color-ios-red: rgb(255,69,58);
$color-ios-teal: rgb(100,210,255);
$color-ios-yellow: rgb(255,214,10);