.Button{
    @include transitions;
    border-radius: $border-radius;
    border: none;
    font-family: $font-main;
    font-weight: $font-weight-light;
    border: none;
    text-decoration: none;
    outline: none;
    &--hidden{
        display: none !important;
    }
}
.ButtonLg{
    // @include box-padding(5px 20px);
    @include center-block(35px);
    font-size: 16px;
    color: $color-white;
    min-width: 180px;
    background-color: unset;
    border: $color-4 1px solid;
    padding: 5px 20px;

    &:hover{
        @include shadows;
        cursor: pointer;
        background-color: $color-4;
        border: $color-4 1px solid;
        transform: scale(1.1) translateY(-5px);
    }
}