.Scoreboard{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #ddd;
    padding: 15px;
    box-sizing: border-box;
    height: auto;
    overflow: hidden;
}