body {
    background-color: $color-3;
    background-image: url('https://bowling-app.s3.amazonaws.com/background-lg.jpg');
}
html {
    box-sizing: border-box;
  }
  *, *::before, *::after {
    box-sizing: border-box;
  }
body, html {
    margin: 0px;
    padding: 0px;
}